body  {
    font-family: 'Bitter', serif;	
	font-weight: 800;
		color:red;
}	

h6,
h5,
h4,
h3,
h2,

{h1   
    font-family: 'Merriweather Sans', sans-serif;
}

img {width:150px}

#footer {backgound-color:blue}