body  {
    font-family: 'Bitter', serif;	
	font-weight: 800;
		color:black;
}	

h6,
h5,
h4,
h3,
h2,

{h1   
    font-family: 'Merriweather Sans', sans-serif;
}

img {width:150px}

#footer {background-color:blue;color:#fff} 

  #lowerfooter {background-color:darkblue;} 
  #lowerfooter i {font-size:60px;color:#fff;margin:16px 6px 8px 3px} 
 
.memeberBenefits i {font-size:200px;color:#fff;}
.memeberBenefits p {font-size:24px;color:#fff;margin-top:12px}
.mBBox  {background-color:red;padding:15px; border-radius:15px}


.pBox{}
.pBox img {z-index:-1}
.pBox button  {z-index:2;position:absoltue;right:25%}
.pBox button:hover {}