body  {
    font-family: 'Bitter', serif;	
	font-weight: 800;
		color:black;
}	

h6,
h5,
h4,
h3,
h2,

{h1   
    font-family: 'Merriweather Sans', sans-serif;
}

img {width:150px}

#footer {background-color:blue;color:#fff} 

  #lowerfooter {background-color:darkblue;} 
  #lowerfooter i {font-size:60px;color:#fff;margin:16px 6px 8px 3px} 
